<%= link_to "Send test message via public channel", push_event_path, :remote => true %>
<br>
<br>

You are signed in as <%= current_user.name %>
<div id="container">Loading chat...</div>

<script>
    window.app = new PusherChat.Router();
    window.app.currentUserId = "<%= current_user.id %>";
    Backbone.history.start();
</script>