You are signed in as <%= current_user.name %>
<div id="container">Loading chat...</div>

<script>
    window.app = new PusherChat.Router();
    window.app.currentUserId = "<%= current_user.id %>";
    Backbone.history.start();
</script>